<%- contentFor('content') %>

<section>
  <h2>Logistas cadastrados</h2>
  <div class="body">
    <table>
      <tr>
        <th>Logista</th>
        <th>CNPJ</th>
        <th>Nome da empresa</th>
        <th>Ações</th>
      </tr>
      <% merchants.forEach((merchant) => { %>
        <tr>
          <td><%= merchant.username %></td>
          <td><%= merchant.cnpj %></td>
          <td><%= merchant.companyName %></td>
          <td>
            <form method="POST" action="/admin/merchants/<%= merchant.id %>?_method=DELETE">
              <button type="submit">Excluir</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </table>
  </div>
</section>