<%- contentFor('content') %>

<section>
  <h2>Histórico de pedidos</h2>
  <table>
    <tr>
      <th>Realizada em</th>
      <th>Valor</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
    <% orders.forEach((order) => { %>
      <tr>
        <td><%= order.created_at %></td>
        <td><%= order.total_price() %></td>
        <td><%= order.status %></td>
        <td>
          <a href="/merchant/orders/<%= order.id %>">
            Visualizar
          </a>
        </td>
      </tr>
    <% }) %>
  </table>
</section>