<%- contentFor('content') %>

<div class="slideshow">
  <h1 class="title">Os melhores produtos para o seu pet <%= locals.name %></h1>
  <h2 class="subtitle">Conheça os melhores produtos para o seu pet na melhor plataforma online do Brasil. Encontre tudo que precisa com os melhores preços.</h2>
</div>

<div class="main_section">
  <h1>Mais vendidos</h1>
  <div class='items'>
  <% locals.products.forEach(function(product) { %>
    <a href="/products/<%= product.id %>" class="item">
      <div class="image-container">
        <img src="<%= product.image_url %>" class="image" alt="product-image">
      </div>
      <div class="item-details">
        <h2 class="title"><%= product.name %></h2>
        <h3>R$ <%= product.price_cents / 100 %></h3>
      </div>
    </a>
  <% }) %>
  </div>

  <a href="../catalogue/index.html" class="button">
    Ver mais
    <div class="icon">➡️</div>
  </a>
</div>