<%- contentFor('content') %>

<div class='container'>
    <div class='lateral-menu'>
      <h2>Categorias</h2>
      <ul>
        <li><a href="#">Coleiras</a></li>
        <li><a href="#">Brinquedos</a></li>
        <li><a href="#">Rações</a></li>
      </ul>

      <hr class="solid">
      
      <h2>Bichos</h2>
      <ul>
        <li><a href="#">Cachorro</a></li>
        <li><a href="#">Gato</a></li>
      </ul>

      <hr class="solid">

      <h2>Lojistas</h2>
      <ul>
        <li><a href="#">Exemplo1</a></li>
        <li><a href="#">Exemplo2</a></li>
      </ul>

      <hr class="solid">

      <h2>Faixa de preço</h2>
      <ul>
        <li><a href="#">R$0,00 a R$25,00</a></li>
        <li><a href="#">R$26,00 a R$50,00</a></li>
        <li><a href="#">R$51,00 a R$100,00</a></li>
        <li><a href="#">Acima de R$100,00</a></li>
      </ul>

    </div>
    <div class='items'>
      <% products.forEach((product) => { %>
      <a href="/products/<%= product.id %>" class="item">
        <div class="image-container">
          <img src="<%= product.image_url %>" class="image" alt="product-image">
        </div>
        <div class="item-details">
          <h3 class="title"><%= product.name %></h3>
          <h4>R$ <%= product.price_cents / 100 %></h4>
        </div>
      </a>
      <% }) %>
    </div>
  </div>