<%- contentFor('content') %>

<div class='container'>
  <div class='lateral-menu'>
    <h2>Categorias</h2>
    <ul>
      <% categories.forEach((category) => { %>
        <li><a href="?category=<%= category.id %>"><%= category.name %></a></li>
      <% }) %>
    </ul>

    <hr class="solid">
    
    <h2>Bichos</h2>
    <ul>
      <% animalTypes.forEach(( animalType) => { %>
        <li><a href="?animalType=<%= animalType.id %>"><%= animalType.name %></a></li>
      <% }) %>
    </ul>

    <hr class="solid">

    <h2>Lojistas</h2>
    <ul>
      <li><a href="#">Exemplo1</a></li>
      <li><a href="#">Exemplo2</a></li>
    </ul>

    <hr class="solid">

    <h2>Faixa de preço</h2>
    <ul>
      <li><a href="?fromPrice=0&belowPrice=2500">R$0,00 a R$25,00</a></li>
      <li><a href="?fromPrice=2500&belowPrice=5000">R$25,00 a R$50,00</a></li>
      <li><a href="?fromPrice=5000&belowPrice=10000">R$50,00 a R$100,00</a></li>
      <li><a href="?fromPrice=10000">Acima de R$100,00</a></li>
    </ul>

  </div>
  <div class='items'>
    <% products.forEach((product) => { %>
    <a href="/products/<%= product.id %>" class="item">
      <div class="image-container">
        <img src="<%= product.image_url %>" class="image" alt="product-image">
      </div>
      <div class="item-details">
        <h3 class="title"><%= product.name %></h3>
        <h4>R$ <%= product.price_cents / 100 %></h4>
      </div>
    </a>
    <% }) %>
  </div>
</div>