<%- contentFor('content') %>
<main>
    <div id="container">
        <section>
            <div class="row" id="image">
                <img src="<%= product.image_url %>" width="350" height="350">
            </div>
        </section>
        <section>
            <div class="row" id="product-details">
                <p id="product-name"><%= product.name %></p>
                <!--fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Incrível - 5 estrelas"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Muito bom - 4.5 estrelas"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Muito bom - 4 estrelas"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="OK - 3.5 estrelas"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="OK - 3 estrelas"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Aceitável - 2.5 estrelas"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Aceitável - 2 estrelas"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Ruim - 1.5 estrelas"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Ruim - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Péssimo - 0.5 estrelas"></label>
                </fieldset-->
                
                <p id="product-price">R$ <%= product.price_cents / 100 %></p>
                <p id="product-description"><%= product.description %></p>
                <div class="buttons">
                    <button class="button-add" id="add-to-cart" data-product-id="<%= product.id %>">Adicionar ao carrinho</button>
                    <button class="button-add-wishlist" id="add-to-wishlist" data-product-id="<%= product.id %>">Adicionar à lista de desejos</button>
                </div>
            </div>
        </section>

        <!--  -->
    </div>
    <div id="comments">
        <div style="justify-content: center; text-align: center;">
            <h2>Comentarios</h2>
        </div>
        <div class="comment-form">
            <form action="/comment" method="post">
              <input name="comment" id="comment" placeholder="Digite seu comentário" required></input>
              <input name="product_id" style="display: none;" required><%= product.id %></input>
              <input name="customer_id" style="display: none;" required><%= product.id %></input>
              <button class="button-add" type="submit" value="Comentar"> > </button>
            </form>
        </div>

        <!-- <div class="comment-view">
            <div class="comment">Eu gostei desse produto!</div>
            <div class="comment-author">Allan César</div>
            <div class="comment-date">05/07/2022</div>
        </div>
    
        <div class="comment-view">
            <div class="comment">Eu gostei desse produto!</div>
            <div class="comment-author">Allan César</div>
            <div class="comment-date">05/07/2022</div>
        </div> -->
    </div>
</main>

<script>
    const addToCartButton = document.querySelector("#add-to-cart")
    addToCartButton.addEventListener('click', (e) => {
        const product_id = e.target.dataset.productId
        fetch(`/add_to_cart/${ product_id }`).then(() => {
            let cart_counter = document.querySelector("#navbar-cart-counter")
            cart_counter.innerHTML = parseInt(cart_counter.innerHTML) + 1
        })
    })

    const addToWishlistButton = document.querySelector("#add-to-wishlist")
    addToWishlistButton.addEventListener('click', (e) => {
        const product_id = e.target.dataset.productId
        fetch(`/add_to_wishlist/${ product_id }`)
    })
</script>