<%- contentFor('content') %>
<main>
    <div id="container">
        <section>
            <div class="row" id="image">
                <img src="<%= product.image_url %>" width="350" height="350">
            </div>
        </section>
        <section>
            <div class="row">
                <header>
                    <h2 id="product-name"><%= product.name %></h2>
                    <div id="rating">
                        <img src="/icons/star.png" width="24" height="24">
                        <img src="/icons/star.png" width="24" height="24">
                        <img src="/icons/star.png" width="24" height="24">
                        <img src="/icons/star.png" width="24" height="24">
                        <img src="/icons/partial-star.png" width="24" height="24">
                    </div>
                </header>
                
                <p id="product-price">R$ <%= product.price_cents / 100 %></p>
                <p id="product-description"><%= product.description %></p>
                <button class="button-add" id="add-to-cart" data-product-id="<%= product.id %>">Adicionar ao carrinho</button>
            </div>
        </section>
    </div>
</main>

<script>
    const addToCartButton = document.querySelector("#add-to-cart")
    addToCartButton.addEventListener('click', (e) => {
        const product_id = e.target.dataset.productId
        fetch(`/add_to_cart/${ product_id }`).then(() => {
            let cart_counter = document.querySelector("#navbar-cart-counter")
            cart_counter.innerHTML = parseInt(cart_counter.innerHTML) + 1
        })
    })
</script>