<%- contentFor('content') %>

<section class="form">
  <h1> Informações do produto </h1>
  <div class = "container-wrapper">
    <div class="wrapper">
      <form action="/merchant/products/<%= product.id %>?_method=<%= method %>" method="POST">
        <div class="form-row">
          <div class="field">
            <input type="text" required value="<%= product.image_url %>" name="image_url">
            <label>URL da imagem</label>
          </div>
        </div>
        <div class="form-row">
          
          <div class="field">
            <input type="text" required value="<%= product.name %>" name="name">
            <label>Nome</label>
          </div>
          <div class="field">
            <input type="number" step="any" required value="<%= product.price_cents / 100 %>" name="price_cents" min="0">
            <label>Preço</label>
          </div>
        </div>
        <div class="form-row">
          <div class="field">
            <input type="text-area" required value="<%= product.description %>" name="description">
            <label>Descrição</label>
          </div>
        </div>
        
        <button type="submit" class="button-green">
          Salvar
        </button>
      </form>
    </div>
  </div>
</section>