<%- contentFor('content') %>

<section>
  <h2>Produtos cadastrados</h2>
  <a href="/merchant/products/new" class="button-add">Adicionar produto</a>
  <div class="body">
    <table>
      <tr>
        <th>Produtos</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
      <% products.forEach((product) => { %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.price() %></td>
          <td>
            <a href="/merchant/products/<%= product.id %>/edit">Editar</a>
            <form method="POST" action="/merchant/products/<%= product.id %>?_method=DELETE">
              <button type="submit">Excluir</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </table>
  </div>
</section>