<%- contentFor('content') %>

<section class="cart">
  <h1> Carrinho </h1>
  <div class="cart_infos">
    <div class="product_list">
      <div class="table_header">
        <h2>Quantidade </h2>
        <h2>Valor </h2>
      </div>
      <% shopping_cart.forEach((item)=>{ %>
        <div class="product">
          <img src="<%= item.product.image_url %>" alt="image" class="product_image" width="50px">

          <div class="product_name">
            <h3><%= item.product.name %></h3>
          </div>
          <div class="product_infos">
            <span class="product_qtd"><%= item.quantity %></span>
            <span class="product_price">R$ <%= item.product.price_cents / 100 %></span>
          </div>
        </div>
      <% }) %>
    </div>
    <div class="infos">
      <div class="subtotal">
        <div class="cart-text">
          Frete: R$15.00
        </div>
        <div class="cart-text">
          Subtotal (<%= shopping_cart.length %> items): <strong>R$ <%= shopping_cart_total %></strong>
        </div>
        <div class="button-green-medium">
          <a href="../order/show.html">Comprar </a>
        </div>
      </div>
    </div>
  </div>
</section>